<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Welcome to Disruption</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<p>As a serial entreprenuer, it`s your goal to create a startup that disrupts the [x] industry like Uber did for taxis. Use your funding to hire talent, write code, and pitch investors. Keep going until you run out of cash!<p>

		<div ng-if="!fundingMessage">
			<p>Choose your funding:</p>
			<action-button ng-repeat="action in ::actions" startup="startup" action="action" on-action-complete="onActionComplete(response)"></action-button>
		</div>

		<div ng-if="fundingMessage">
			<p>{{ ::fundingMessage.text }}</p>
			<p>You start with 1 employee -- yourself, in a garage in the heart of Silicon Valley.</p>
			<button class="button button-block button-positive" ng-click="modal.hide()">Start Disrupting!</button>
		</div>
	</ion-content>
</ion-modal-view>