<ion-view view-title="Dashboard">
	<ion-content class="padding">
		<div class="list card chart" id="statsChart">
			<!-- stats chart -->
		</div>

		<div class="list card">
			<div class="item item-divider">Stats</div>
			<div class="item item-body">
				<ul>
					<li>Day: {{ dash.game.day }} Y{{ dash.game.year }}Q{{ dash.game.quarter }}</li>
					<li>Capital: {{ dash.startup.capital | currency: "$" : 0 }}</li>
					<li>Users: {{ dash.startup.users | number: 0 }}</li>
					<li>Competitors: {{ dash.startup.competitors }}</li>
					<li>Market Share: {{ dash.startup.marketShare | number: 2 }}%</li>
					<li>Cost per User: {{ dash.startup.costPerUser | currency }}</li>
				</ul>
			</div>
		</div>

		<div>
			<h2>Actions</h2>
			<button class="button button-block button-positive" ng-repeat="action in dash.actions" ng-click="dash.takeAction(action)" ng-if="dash.canShowAction(action)">
				{{ ::action.name }}
			</button>
		</div>
	</ion-content>
</ion-view>