<div class="inner">

	<h1>Dashboard</h1>

	<h2>{{name}}</h2>
	<p>started on {{created}}</p>

	<section class="module valuation">
		<header>
			<h3>Valuation</h3>
		</header>
		<div class="inner">
		
		<div>
		<p class="hint">Below is your startup's current valuation. Your valuation is based on your projects and the tags you assigned to them. Your valuation is also relative to the market (everyone else 
			that is playing).</p>
		<div id="placeholder" style="width:960px;height:300px"></div>
		</div>
		
		<p>Most recent valuation: {{valuation}} ({{valuationChange}}). Your equity: {{userEquity}}%</p>
		</div>
	</section>

</div>